! Configuration File for keepalived

global_defs {
}

vrrp_script chk_maxscale {
script "pkill -0 maxscale"
interval 2
weight {{ health_check_weight | default(10) }}
}


vrrp_script chk_haproxy {
script "pkill -0 haproxy"
interval 2
weight {{ health_check_weight | default(10) }}
}
